* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif, arial;
	outline: none;
	text-decoration: none;
	border: none;
	transition: all 0.2s linear;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background: #ffe6f2;
}

.container {
	position: relative;
	width: 100%;
}

.Header {
	position: fixed;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	background: #d63384;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	padding: 5rem 3rem;
	z-index: 1000;
}

.Header nav {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

.Header ul {
	position: relative;
	width: 100%;
}

.Header li {
	position: relative;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 10px 5px;
}

.Header li a {
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
	font-size: 19px;
}

.Header li a span {
	color: #ff69b4;
}

.Header li a:hover {
	letter-spacing: 3px;
	color: #ff69b4;
}

.Header-title {
	font-size: 2em;
	font-weight: 800;
	text-decoration: none;
	color: #fff;
}

.Header-title span {
	color: #ff69b4;
}

.Social-link {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.Social-link a {
	display: inline-block;
	padding: 8px;
	font-size: 1.5em;
	color: #fff;
	transition: 0.5s;
}

.Social-link a:hover {
	color: #ff69b4;
}

.main {
	position: absolute;
	top: 0;
	left: 300px;
	width: calc(100% - 300px);
}

.main .Profile {
	flex: 1 1 30rem;
}

.main .Profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.Content {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding: 1rem 5%;
	gap: 10px;
	flex-wrap: wrap;
}

.Content div {
	margin-bottom: 5px;
}

.Introduction {
	flex: 1 1 30rem;
}

.Introduction div {
	margin-bottom: 8px;
}

.Introduction .Greet p {
	color: #ff69b4;
	font-size: 1.2em;
	font-weight: 500;
}

.Introduction .Text-name p {
	font-size: 3em;
	font-weight: 600;
	color: #ff69b4;
}

.Introduction .Text-name p span {
	color: #000;
	margin-right: 10px;
}

.Introduction .Job-description p {
	font-size: 1.5em;
	font-weight: 500;
}

.Introduction .Description p {
	color: #4a4a4a;
}

.Description {
	flex: 1;
}

.About-me .About-me-button {
	background: #ff69b4;
	color: #fff;
	padding: 10px 35px;
	border: none;
	transition: 0.5s;
}

.About-me .About-me-button:hover {
	padding: 10px 40px;
	color: #fff;
	background: #d63384;
	letter-spacing: 3px;
}

.About-me {
	margin-top: 1.5rem;
}

.Header-text h3 {
	font-size: 2.5em;
	font-weight: 600;
	color: #ff69b4;
	margin-bottom: 10px;
}

.Header-text h3 span {
	color: #000;
	margin-right: 10px;
}

.About-me-content .My-Profile .left {
	flex: 1 1 30rem;
}

.About-me-content .My-Profile .left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 0.5px 0.1px 15px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0.3rem;
	border: 10px solid #fff;
	overflow: hidden;
}

.About-me-content {
	position: relative;
	left: 0;
	top: 0px;
	padding: 1rem 5%;
	padding-bottom: 1rem;
}

.My-Profile {
	position: relative;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.right {
	flex: 1 1 30rem;
}

.right div {
	padding-bottom: 5px;
}

.Information {
	position: relative;
	top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.Information span {
	margin-right: 5px;
	color: #ff69b4;
}

.Information p {
	color: #666;
}

.My-skills-grid p,
.Desc-introduction {
	color: #666;
}

.left-info div,
.right-info div {
	margin-bottom: 5px;
}

.left-info {
	flex: 1 1 10rem;
}

.right-info {
	font-size: 1 1 10rem;
}

.Header-name p {
	font-size: 2.2em;
	font-weight: 600;
}

.Download-cv {
	display: inline-block;
}

.Download-cv .Hire-me-button,
.Download-cv .Download-cv-button {
	background: #ff69b4;
	border: none;
	color: #fff;
	font-weight: 500;
	font-size: 1rem;
	padding: 8px 25px;
	outline: none;
	transition: 0.5s;
	margin-top: 1rem;
	display: inline-block;
}

.Download-cv .Hire-me-button:hover,
.Download-cv .Download-cv-button:hover {
	color: #fff;
	letter-spacing: 2px;
	background: #d63384;
}

.My-skills {
	position: relative;
	left: 0;
	top: 0;
	padding: 1rem 5%;
	padding-top: 0;
	padding-bottom: 0;
}

.My-skills-content {
	position: relative;
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
}

.My-skills-right .My-skills-grid {
	position: relative;
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.My-skills-right .My-skills-grid div {
	background: #fff;
	border: none;
	padding: 1.5rem;
	border-radius: 0.4rem;
	box-shadow: 0.1rem 0.1rem 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
	flex: 1 1 10rem;
}

.My-skills-right {
	flex: 1 1 20rem;
}

.My-skills-left div {
	margin: 0 0 30px;
	width: 100%;
}

.My-skills-left p {
	display: flex;
	justify-content: space-between;
	padding: 0 0 0.5rem;
	font-weight: 400;
}

.My-skills-left .progress-bar {
	width: 100%;
	background-color: #ccc;
	height: 0.7rem;
	border-radius: 10px;
	overflow: hidden;
}

.My-skills-left {
	flex: 1 1 20rem;
}

.My-skills-left .progress-bar span {
	background: #ff69b4;
	height: 100%;
	display: block;
	border-radius: 10px;
}

.My-skills-left div:nth-child(1) .progress-bar span {
	width: 95%;
}
.My-skills-left div:nth-child(2) .progress-bar span {
	width: 80%;
}
.My-skills-left div:nth-child(3) .progress-bar span {
	width: 75%;
}
.My-skills-left div:nth-child(4) .progress-bar span {
	width: 85%;
}

.My-skills-right h1 {
	color: #ff69b4;
	font-weight: 600;
	font-size: 1.8rem;
}

.My-services {
	position: relative;
	left: 0;
	top: 0;
	padding: 1rem 5%;
	padding-top: 0;
	min-height: 100vh;
}

.My-services-content {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.My-services-content div {
	text-align: center;
	padding: 1.5rem;
	background: #fff;
	flex: 1 1 20rem;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.My-services-content div i {
	color: #fff;
	background: #ff69b4;
	font-size: 1.5rem;
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
	display: inline-block;
	line-height: 2.5;
}

.My-services-content div h3 {
	padding: 0.6rem 0 0;
	font-size: 1.3rem;
	font-weight: 600;
}

.My-services-content div p {
	padding-top: 0.5rem;
	color: #666;
	font-size: 1rem;
	font-weight: 400;
}

.Qualification {
	position: relative;
	left: 0;
	top: 0;
	padding: 1rem 5%;
}

.Qualification-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	flex-wrap: wrap;
}

.Education,
.Work {
	flex: 1 1 25rem;
}

.Education div,
.Work div {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 1.5rem;
}

.Education div i,
.Work div i {
	font-size: 1.5rem;
	color: #ff69b4;
}

.Education div .name,
.Work div .name {
	padding-left: 0.8rem;
}

.Education div .name h3,
.Work div .name h3 {
	font-size: 1.3rem;
	color: #ff69b4;
}

.Education div .name p,
.Work div .name p {
	font-size: 1rem;
	color: #666;
}

.Education div .timeline,
.Work div .timeline {
	position: absolute;
	left: 10px;
	top: 35px;
	bottom: -12px;
	width: 2px;
	background: #ddd;
}

.Education div:last-child .timeline,
.Work div:last-child .timeline {
	display: none;
}

.Contact {
	position: relative;
	left: 0;
	top: 0;
	padding: 1rem 5%;
	padding-bottom: 0;
}

.Contact-content {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.Contact-left,
.Contact-right {
	flex: 1 1 25rem;
}

.Contact-left {
	padding: 1rem 0;
}

.Contact-left div {
	padding-bottom: 2rem;
}

.Contact-left h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #ff69b4;
	padding: 1rem 0;
}

.Contact-left p {
	color: #666;
	font-weight: 400;
}

.Contact-left div i {
	font-size: 1.5rem;
	color: #ff69b4;
}

.Contact-left div span {
	padding-left: 1rem;
}

.Contact-right form {
	display: flex;
	flex-wrap: wrap;
	gap: 0.7rem;
	justify-content: space-between;
}

.Contact-right form input,
.Contact-right form textarea {
	padding: 1rem;
	border-radius: 0.4rem;
	background: #eee;
	color: #000;
	width: 100%;
	font-size: 1rem;
}

.Contact-right form textarea {
	resize: none;
}

.Contact-right form .submit-button {
	background: #ff69b4;
	color: #fff;
	padding: 12px 25px;
	border: none;
	transition: 0.5s;
	cursor: pointer;
}

.Contact-right form .submit-button:hover {
	letter-spacing: 3px;
	background: #d63384;
}

@media (max-width: 991px) {
	.main {
		width: 100%;
		left: 0;
	}
	.Header {
		flex-flow: row;
		justify-content: space-between;
		width: 100%;
		height: 100px;
		padding: 0 5%;
	}
	.Header ul {
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
	.Header li {
		padding: 0;
	}
}

@media (max-width: 768px) {
	.Header-title {
		font-size: 1.5rem;
	}
	.Header li a {
		font-size: 0.8rem;
	}
	.Header {
		padding: 0 1rem;
	}
	.Profile img {
		height: 300px;
		width: 300px;
	}
	.Introduction .Text-name p {
		font-size: 1.5rem;
	}
	.Introduction .Job-description p {
		font-size: 1.2rem;
	}
	.Introduction .Greet p {
		font-size: 1rem;
	}
	.About-me .About-me-button {
		font-size: 0.7rem;
	}
	.Header-text h3 {
		font-size: 1.8rem;
	}
	.About-me-content .My-Profile .left img {
		height: 250px;
		width: 250px;
	}
	.Information p {
		font-size: 0.9rem;
	}
	.Information p span {
		font-size: 0.8rem;
	}
	.Download-cv .Hire-me-button,
	.Download-cv .Download-cv-button {
		font-size: 0.7rem;
	}
	.My-skills-left p {
		font-size: 0.7rem;
	}
	.My-skills-left .progress-bar {
		height: 0.5rem;
	}
	.My-skills-right h1 {
		font-size: 1rem;
	}
	.My-services-content div i {
		width: 3rem;
		height: 3rem;
		font-size: 1rem;
	}
	.My-services-content div h3 {
		font-size: 1rem;
	}
	.My-services-content div p {
		font-size: 0.8rem;
	}
	.Education div .name h3,
	.Work div .name h3 {
		font-size: 1rem;
	}
	.Education div .name p,
	.Work div .name p {
		font-size: 0.8rem;
	}
	.Contact-left div i {
		font-size: 1rem;
	}
	.Contact-left h3 {
		font-size: 1.2rem;
	}
	.Contact-right form input,
	.Contact-right form textarea {
		font-size: 0.8rem;
	}
	.Contact-right form .submit-button {
		font-size: 0.8rem;
	}
}

@media (max-width: 480px) {
	.Header-title {
		font-size: 1.2rem;
	}
	.Header li a {
		font-size: 0.6rem;
	}
	.Profile img {
		height: 200px;
		width: 200px;
	}
	.Introduction .Text-name p {
		font-size: 1.2rem;
	}
	.Introduction .Job-description p {
		font-size: 1rem;
	}
	.Introduction .Greet p {
		font-size: 0.8rem;
	}
	.About-me .About-me-button {
		font-size: 0.5rem;
		padding: 5px 15px;
	}
	.Header-text h3 {
		font-size: 1.2rem;
	}
	.About-me-content .My-Profile .left img {
		height: 150px;
		width: 150px;
	}
	.Information p {
		font-size: 0.7rem;
	}
	.Information p span {
		font-size: 0.6rem;
	}
	.Download-cv .Hire-me-button,
	.Download-cv .Download-cv-button {
		font-size: 0.5rem;
		padding: 5px 10px;
	}
	.My-skills-left p {
		font-size: 0.5rem;
	}
	.My-skills-left .progress-bar {
		height: 0.3rem;
	}
	.My-skills-right h1 {
		font-size: 0.7rem;
	}
	.My-services-content div i {
		width: 2.5rem;
		height: 2.5rem;
		font-size: 0.7rem;
	}
	.My-services-content div h3 {
		font-size: 0.8rem;
	}
	.My-services-content div p {
		font-size: 0.6rem;
	}
	.Education div .name h3,
	.Work div .name h3 {
		font-size: 0.8rem;
	}
	.Education div .name p,
	.Work div .name p {
		font-size: 0.6rem;
	}
	.Contact-left div i {
		font-size: 0.7rem;
	}
	.Contact-left h3 {
		font-size: 1rem;
	}
	.Contact-right form input,
	.Contact-right form textarea {
		font-size: 0.5rem;
	}
	.Contact-right form .submit-button {
		font-size: 0.5rem;
		padding: 5px 10px;
	}
}
